<!-- Suponiendo que views es tu carpeta de vistas -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../frontend/css/styleHome.css"
    <title>Home Admin</title>
    <!-- Agrega tus enlaces a archivos de estilo, scripts, etc. aquí -->
</head>
<body>
    <!-- Contenido de tu página admin -->

    <!-- Incluye el contenido del archivo HTML en la carpeta admin -->
   

    <script>
        // Adjust the delay and URL according to your needs
        setTimeout(function() {
            window.location.href = 'http://localhost:3000/client';
            
        }); // Redirect after 5 seconds
    </script>

    <!-- Puedes agregar más contenido según sea necesario -->

    <!-- Puedes incluir tus scripts al final del archivo o donde sea necesario -->

</body>
</html>