<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecimiento de Contrase単a</title>
</head>
<body>
    <h1>Restablecimiento de Contrase単a</h1>
    <form action="/reset" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="newPassword">Nueva Contrase単a:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Guardar Nueva Contrase単a</button>
    </form>
</body>
</html>