<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard de Energía</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styleHome.css" />
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row">
        <a href="../client/homeClient.html" class="dashboard-button">
          <img src="../img/icon-home.png" alt="iconHome" width="64px">
        </a>
        <div>
          <div class="row">
            <h1 class="dashboard-text" style="padding-left: 10px;">DASHBOARD</h1>
          </div>
          <p class="an-informative-panel mt-1">
            An informative panel for your devices management&nbsp;&nbsp;and expenses monitoring
          </p>
        </div>
        <a href="#" class="dashboard-button">
          <img src="../img/icon-user.png" alt="iconUser" width="64px">
        </a>
      </div>
    </div>
  </header>


  <div class="container-fluid w-50 mx-auto" style="margin-top: 20px;" id="dashboardContainer">
    <div class="row">
      <div class="col-md-6">
        <a href="../client/pages/totalDevicesPage.html" class="card dashboard-container" style="text-decoration: none">
          <div class="card-body">
            <div class="row">
              <img src="../img/icon-devices.png" alt="iconDevices" width="100px">
              <div>
                <h3 class="card-title">Total Devices</h3>
                <div class="row" style="text-align: center"></div>
                <h4 class="text" style="text-align: center; font-weight: 100;"><%= totalDevices %></h4>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 dashboard-container">
        <a href="../client/pages/consumptionPage.html" class="card dashboard-container" style="text-decoration: none">
          <div class="card-body">
            <div class="row">
              <img src="../img/icon-consumption.png" alt="iconConsumption" width="100px">
              <div>
                <h3 class="card-title" style="text-align: center">Consumption</h3>
                <div class="row"></div>
                <h4 class="text" style="text-align: center; font-weight: 100;">35 kwh</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;" class="dashboard-container">
      <div class="col-md-6">
        <a href="../client/pages/emissionsPage.html" class="card dashboard-container" style="text-decoration: none">
          <div class="card-body">
            <div class="row">
              <img src="../img/icon-emissions.png" alt="icon-emissions" width="100px">
              <div>
                <h3 class="card-title" style="text-align: center">Carbon Dioxide Emissions</h3>
                <div class="row"></div>
                <h4 class="text" style="text-align: center; font-weight: 100;">2.0 kg</h4>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 dashboard-container">
        <!-- Aquí puedes agregar otra tarjeta si lo necesitas -->
      </div>
    </div>
  </div>

  </script>

  <!-- Ventana emergente del chat -->
  <div id="chat-popup">
    <section id="chat">
      <div id="chat-container">
        <div id="chat-header">
          <span id="close-chat" onclick="closeChat()">×</span>
          <h1 class="dashboard-text" style="font-size: medium;">Chat de Ayuda</h1>
        </div>
        <div id="chat-body">
          <ul id="messages"></ul>
        </div>
        <form id="form" action="">

          <input type="text" id="input" placeholder="Input a message" autocomplete="off" style="width: 100%;" />
          <button id="send-btn">Send</button>
        </form>
      </div>
    </section>
  </div>


  <!-- Botón del chat -->
  <button class="chat-button" onclick="openChat()">
    <img src="../img/icon-chatbot.png" alt="Chat Icon">
  </button>



  <!-- Incluye el script de Bootstrap al final del cuerpo para mejorar el rendimiento -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- chat -->
  <script type="module" src="../js/chat.js"></script>
  <!-- Incluye cualquier otro script personalizado aquí -->
  <script src="../js/buttonChat.js"></script>



</body>

</html>